* {
    background-color: rgb(211, 167, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

body {
    max-width: 98%;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

img {
    width: 98%;
    height: auto;
    max-width: 600px;
    max-height: 903px;
}